<!-- templates/about_us.html -->
{% extends 'layout.html' %}

{% block title %}About Us - TheFlipperEconomics{% endblock %}

{% block content %}
    <main>
        <section>
            <article>
                <h2>About TheFlipperEconomics/h2>
                <p>Welcome to 1445 Enterprise, where innovation meets information! We are a dynamic online enterprise committed to delivering top-notch technology solutions, breaking news, and high-quality printing services.</p>

                <h3>Our Mission</h3>
                <p>Empower individuals and businesses with cutting-edge technology, provide timely and reliable news, and deliver exceptional printing services to meet our clients' diverse needs.</p>

                <h3>Our Vision</h3>
                <p>To be a leading online platform that inspires technological advancement, informs with credible news, and sets the standard for excellence in digital and print services.</p>

                <h3>Our Values</h3>
                <ul>
                    <li><strong>Innovation:</strong> Embrace and drive change through creative solutions.</li>
                    <li><strong>Integrity:</strong> Uphold honesty, transparency, and ethical conduct in all our interactions.</li>
                    <li><strong>Quality:</strong> Strive for excellence and deliver high-quality services to our clients.</li>
                    <li><strong>Community:</strong> Foster a sense of belonging and collaboration within our team and with our audience.</li>
                    <li><strong>Customer-Centric:</strong> Prioritize the needs and satisfaction of our clients in everything we do.</li>
                </ul>
            </article>
        </section>
    </main>
{% endblock %}
