<!-- templates/articles/article_detail.html -->
{% extends 'layout.html' %}

{% block title %}{{ article.title }} - TheFlipperEconomics{% endblock %}

{% block content %}
    <article class="container my-4">
        <h1 class="mb-3">{{ article.title }}</h1>
        <p>Written by Admin on {{ article.pub_date|date:"F d, Y" }}</p>
        
        {% if article.image %}
            <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-fluid mb-3">
        {% endif %}
        <script type="text/javascript">
	atOptions = {
		'key' : 'e3fcd4d9c939d900dd57986266c08d95',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/e3fcd4d9c939d900dd57986266c08d95/invoke.js"></scr' + 'ipt>');
</script>
        
        <p>{{ article.content|safe }}</p>        
    </article>
{% endblock %}
