<!-- templates/articles/article_detail.html -->
{% extends 'layout.html' %}

{% block title %}{{ article.title }} - TheFlipperEconomics{% endblock %}

{% block content %}
    <article>
        <h1>{{ article.title }}</h1>
        <p>Written by Admin on {{ article.pub_date|date:"F d, Y" }}</p>
        
        {% if article.image %}
            <img src="{{ article.image.url }}" alt="{{ article.title }}">
        {% endif %}
        
        <p>{{ article.content|safe }}</p>
    </article>
{% endblock %}
