<!-- templates/home.html -->
{% extends 'layout.html' %}

{% block title %}Home - TheFlipperEconomics{% endblock %}

{% block content %}
    <main>
        <section>
            {% for article in articles %}
                <article>
                    <a href="{% url 'article_detail' article.slug %}">
                        <h2>{{ article.title }}</h2>
                        <img src="{{ article.image.url }}" alt="{{ article.title }}">
                    </a>
                    <p>{{ article.content|truncatewords:50 }}</p>
                    <a href="{% url 'article_detail' article.slug %}">Read More</a>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}
